<!-- P2-2 Caleb Bertels and Caroline Pickett -->
<div class="jumbotron jumbotron-background" style = border-radius: 25px; "background-color:white;">
      <div class="container" >
        <h2>Contact Info</h2 >
        <body style="background-color:limegreen;">
          <p>913-634-2588 <a class="btn btn-success" href="tel:+1-913-634-2588" role="button"> Call </a></p> 
          <p>4828 W 157th Street<br/>Overland Park, KS 66224  <a class="btn btn-success" href="https://goo.gl/maps/P2eAyS4idmt" role="button"> Open in Google Maps </a></p>
          <p>curt.carpenter0@gmail.com  <a class ="btn btn-success" href="mailto:curt.carpenter0@gmail.com" role="button">Email</a></p>
          <p>C&G Coatings Facebook  <a class="btn btn-success" href="https://www.facebook.com/CG-Coatings-104818302930011/" role="button">Facebook</a></p>
      </div>
    </div>