</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2017 NWMSU Web Apps Team Fall 2017 STAFF VERSION, All Rights Reserved</p>
    <p class="text-muted"><a href="https://bitbucket.org/nw_webapps_2017_fall_staff/cge">Staff Bitbucket repo</a></p>
  </div>
</footer>